#header {
    display: flex;
    justify-content: space-between;
    margin-top: 2.1875em;
    padding-left: 89px;
    padding-right: 66px;
}

.account-circle {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    margin-top: 4px;
    background-color: #C4C4C4;
}

@media screen and (max-width: 1264px){
    #header {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 768px){
    #header {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 525px){
    #header {
        padding-left: 25px;
        padding-right: 25px;
    }
}
@media screen and (max-width: 380px){
    #header {
        padding-left: 25px;
        padding-right: 25px;
    }
    .account-circle {
        width: 34px;
        height: 34px;
        border-radius: 28px;
        margin-top: 4px;
        background-color: #C4C4C4;
    }
}